#wrapper-img {
  background: url("images/game.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 1% 25%;
  min-height: 100vh;
}

nav {
  z-index: 5000;
}

@media screen and (max-width: 598px) {
  #wrapper-img {
    background: url("images/play.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
  }
}

@media screen and (max-width: 768px) {
  footer {
    margin-top: 50px;
    color: #576873;
  }
}

@media screen and (max-width: 915px) and (min-height: 1024px) {
  #wrapper-img {
    background: url("images/shatter.jpg");
    background-size: cover;
    background-position: 20%;
  }
}
